*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  padding: 10px 5px;
  margin: 5px;
  font-size: 20px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.bg-primary {
  background: #000000;
  color: #ffffff;
  border-radius: 5px;
}

.bg-secondary {
  background: #ff0000;
  color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

p {
  font-weight: bold;
}

span {
  font-weight: normal;
}
